body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

blockquote {
    width: fit-content;
    padding: 15px 20px;
    font-family: Georgia, serif;
    font-style: italic;
    background-color: #1b1e1f;
    border-left: 8px solid #4caf50;
}

figure {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: auto;
}

figcaption {
    margin-top: 10px;
    font-family: Georgia, serif;
    font-style: italic;
    line-height: 1.5;
    text-align: justify;
}

.main-container {
    display: flex;
    flex: 1;
    height: 100%;
    margin-top: 0;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    height: 100%;
    padding: 20px;
    background-color: #111b2b;
    box-sizing: border-box;
}

.sidebar h3 {
    text-align: center;
}

#table-of-contents {
    width: fit-content;
    padding: 0;
    list-style-type: none;
}

#table-of-contents li {
    padding: 10px;
    cursor: pointer;
}

#table-of-contents li a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

#table-of-contents li a:hover {
    color: #ff7f50;
}

#table-of-contents li.active a {
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 3px solid #2ecc40;
}

.article-content {
    flex: 1;
    height: 100%;
    padding: 20px;
    background-color: #33373a;
    overflow-y: auto;
    box-sizing: border-box;
}

.article {
    display: none;
}

.article.active {
    display: block;
}

article h2 {
    color: #ccc;
}

article p {
    font-size: 1rem;
    color: #ccc;
    text-align: justify;
    line-height: 1.5;
}

#seek-button {
    display: inline;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.25em;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#video-text {
    max-width: 1000px;
}
