body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

form {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    min-width: 320px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

legend {
    font-size: 1.2em;
}

label {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1em;
    width: 100%;
}

h1 {
    margin-top: 0;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

button {
    display: inline;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

#submit-button {
    background-color: #2ecc40;
}

#reset-button {
    background-color: gray;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 1.5;
}

textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 1.5;
}

input::placeholder, textarea::placeholder {
    font-size: 1em;
    color: #888;
}

#email-list {
    display: none;
    flex-direction: column;
    margin-top: 5px;
    padding: 0;
    height: auto;
    width: 50%;
    overflow-y: auto;
    list-style: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}

#email-list li {
    padding: 8px;
    cursor: pointer;
}

#email-list li:hover {
    background-color: #f1f1f1;
}

#phone-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}    

.required-star {
    color: red;
    font-weight: bold;
}

#checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

#terms-checkbox {
    transform: scale(1.5);
    width: fit-content;
    margin-right: 15px;
}

.warning {
    display: none;
    color: red;
    margin-top: 10px;
}
