form {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 30px;
    background-color: #1b1e1f;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

legend {
    font-size: 1.2em;
}

label {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1em;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    line-height: 1.5;
    background-color: #111b2b;
    color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    margin-bottom: 10px;
}

input::placeholder, textarea::placeholder {
    font-size: 1em;
    color: #888;
}

#email-list {
    display: none;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    background-color: #33373a;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    z-index: 1000;
}

#email-list li {
    padding: 8px;
    cursor: pointer;
}

#email-list li:hover {
    background-color: #111b2b;
}

.phone-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}    

.required-star {
    font-weight: bold;
    color: red;
}

.warning {
    display: none;
    margin-top: 10px;
    color: red;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

#terms-checkbox {
    width: fit-content;
    margin-right: 15px;
    transform: scale(1.5);
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    display: inline;
    padding: 10px;
    font-size: 1.5em;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#submit-button {
    background-color: #2ecc40;
}

#reset-button {
    background-color: gray;
}
