body {
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.category-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.category-item {
    display: flex;
    min-width: 100px;
    gap: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 50%;
    max-width: 1000px;
    margin: 0 auto;
}

#gallery img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
}

.lightbox {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    z-index: 9999;
}

#lightbox-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 85%;
    max-height: 85%;
    object-fit: contain;
    border: 5px solid rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
    z-index: 1;
}

#lightbox-description {
    position: absolute;
    top: 97.5%;
    left: 50%;
    transform: translate(-50%, -97.5%);
    text-align: center;
    justify-content: center;
    font-size: 1.2em;
    padding: 15px;
    color: white;
    background-color: #122023;
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    z-index: 1;
}

#close-button {
    position: absolute;
    font-size: 30px;
    top: 20px;
    right: 40px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}
