body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #33373a;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #122023;
}

.navbar-links {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-links li {
    margin: 0 20px;
}

.navbar-links a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #ff7f50;
}

.navbar-links a.active {
    padding-bottom: 3px;
    font-weight: bold;
    border-bottom: 3px solid #2ecc40;
}

#site-footer {
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
    gap: 15px;
}
