h1 {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.main-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

#planet-nav {
    width: 200px;
    height: fit-content;
    position: sticky;
    top: 20px;
    padding: 20px;
    background-color: #111b2b;
    border-radius: 15px;
}

#planet-nav h3 {
    text-align: center;
}

#planet-list {
    list-style: none;
    padding: 0;
}

#planet-list li {
    margin-bottom: 15px;
}

#planet-list li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

#planet-list li a:hover {
    color: #ff7f50;
}

#planet-list li.active a {
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 3px solid #2ecc40;
}

#planet-content {
    flex: 1;
    margin-left: 20px;
}

#planet-content article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #1b1e1f;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#planet-content article h2 {
    margin-bottom: 5px;
}

#planet-content article hr {
    margin-bottom: 10px;
    border: none;
    border-top: 2px solid #333;
}

#planet-content .article-text {
    flex: 2.5;
    margin-right: 20px;
    text-align: justify;
    line-height: 1.5;
}

#planet-content .article-aside {
    flex: 1;
    min-width: 200px;
}

#planet-content table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
}

#planet-content table img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin: 0 auto;
}

#planet-content table td {
    padding: 8px;
    border: 1px solid #ccc;
}

#planet-content table tr:nth-child(even) {
    background-color: #396b94;
}

#planet-content table tr:nth-child(odd) {
    background-color: #2b2a33;
}

#planet-content .color-picker {
    display: block;
    margin-top: 10px;
}
