.timeline-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(100% - 80px);
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 40px;
    padding: 120px 20px;
    background: #1b1e1f;
    border-radius: 15px;
    overflow-x: auto;
    box-sizing: border-box;
}

.timeline-line {
    width: 100%;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: linear-gradient(to right, #333, #666, #333);
    box-sizing: border-box;
}

.timeline-end-arrow {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 25px solid #00aaff;
    z-index: 5;
}

.timeline {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    justify-content: space-between;
    gap: 200px;
    box-sizing: border-box;
}

.event {
    width: 100px;
    position: relative;
    text-align: center;
    line-height: 1.5;
}

.event:nth-child(odd) .info {
    bottom: 100px;
}

.event:nth-child(even) .info {
    top: 100px;
}

.event:nth-child(odd) .event-details {
    top: 50px;
    bottom: auto;
}

.event:nth-child(even) .event-details {
    top: auto;
    bottom: 50px;
}

.event:hover .dot {
    transform: scale(1.5);
    box-shadow: 0 0 20px 8px rgba(255, 255, 255, 0.7);
}

.event:hover .event-details {
    display: block;
}

.dot {
    width: 25px;
    height: 25px;
    position: relative;
    margin: 0 auto;
    background: #00aaff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 170, 255, 0.6);
    transition: 0.25s ease;
    z-index: 10;
}

.info {
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.year {
    display: block;
    margin-bottom: 4px;
    font-size: 1.5rem;
    font-weight: bold;
}

.event-details {
    display: none;
    width: auto;
    max-width: 350px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    background: #111b2b;
    border: 1px solid white;
    border-radius: 10px;
    z-index: 10;
}

.event-details img {
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
